.signup-component-container {
  display: flex;
}

@media screen and (min-width: 1150px) {
  .intro-container {
    width: 600px;
    padding: 20px;
    padding-top: 40px;
    color: #555;
  }

  .signup-container {
    width: 500px;
    padding: 70px;
    padding-top: 40px;
  }

  .signup-input-container {
    width: 360px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .signup-input {
    width: 300px;
    margin-bottom: 0;
  }

  .signup-title-container {
    margin-bottom: 30px;
  }

  .signup-title {
    color: purple;
  }

  .input-help {
    width: 300px;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    text-align: right;
    height: 9px;
    font-size: 9px;
  }

  .signup-input-info {
    color: #555;
  }

  .signup-input-loading {
    color: #555;
  }

  .signup-input-error {
    color: #d9534f;
  }

  .signup-input-success {
    color: #5cb85c;
  }

  .signup-button-container {
    text-align: right;
    padding: 10px 20px;
  }
}
