@media screen and (min-width: 1100px) {
  .default-input {
    font-family: 'Montserrat', cursive;
    padding: 7px;
    margin: 7px;
    font-size: 14px;
    border: 1px solid #5bc0de;
    border-radius: 3px;
    color: blue;
  }
}

.default-input:focus {
  outline:0;
  box-shadow: 0 0 7px #5bc0de;
}

.default-input:disabled {
  background-color: white;
}
